{%extends 'base.html'%}
  {%block title %}>Add estudante{%endblock%}
<!-- return User(username=json['username'],email=json['email'],password=json['password']) -->
{%block content %}
<h1 style="text-align:center;">Cadastrar Novo Cliente</h1>
<form action="/users_page/add" method='post' class="container" style="padding-top:20px;">
    <div class="row col-xs-10" >
        <div class="col-md-4">
            <input type="text" name="username" id="nome" placeholder="username" class="form-control">
        </div>
        <br/>
        <div class="col-md-4">
            <input type="text" name="email" id="email" placeholder="users email" class="form-control">
        </div>
        <br/>
        <div class="col-md-3">
            <input type="password" name="password" id="senha" placeholder="Senha" class="form-control">
        </div>
    </div>
    <br>
<!--    <div class="row col-xs-12">-->
<!--        <button type="submit" class="btn btn-primary">Cancelar</button>-->
<!--    </div>-->
    <div class="col col-xs-10">
        <button type="submit" class="btn btn-block btn-success" style="margin-left:15px; margin-top:20px;">Salvar</button>
        <button type="reset" class="btn btn-primary" style="margin-left:15px; margin-top:20px;">Limpar</button>
    </div>

</form>

{% endblock%}
